$CDN = ''

$fontsize = 16

$white = #ffffff
$black = #000000
$midGrey  = #606060
$darkGrey = #3a3a3a
$lightGrey = #838283
$puertoRico = #45c6c0
$shakespeare = #48cdc7

$greenAcept = #4DBC00
$orangeCancel = #FF5800

$defaultButton = #9c938f

$basetransition = 250ms linear
$pseudotransition = 250ms ease-in-out

$montserrat = Montserrat, sans-serif
$roboto = Roboto, sans-serif

$arrayButtons = 'mid-grey' $midGrey darken($midGrey, 15%),
                'dark-grey' $darkGrey darken($darkGrey, 15%),
                'light-grey' $lightGrey darken($lightGrey, 15%),
                'shakespeare' $shakespeare darken($shakespeare, 15%),
                'puerto-rico' $puertoRico darken($puertoRico, 15%)